# core
torch~=1.10
transformers~=4.1
pytorch-lightning~=1.5
torchmetrics~=0.10.0  # Upgraded to avoid "TypeError: F1Score.__new__() missing 1 required positional argument: 'task'"
tqdm
nltk~=3.6
spacy==3.4.4
numpy<2  # Downgraded to avoid "A module that was compiled using NumPy 1.x cannot be run in NumPy 2.0.1 as it may crash"

# training/research
gdown
gitpython
jsonlines
matplotlib
wandb~=0.12
jupyter~=1.0
lxml~=4.8
scikit-learn~=1.1

# japanese
fugashi~=1.1
ipadic==1.0.0
unidic-lite~=1.0

